<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://www.gruppobiasiotto.com/wp-content/uploads/2018/01/GIUSEPPE-ZANOTTI.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://images.seeklogo.com/logo-png/43/1/beymen-logo-png_seeklogo-436215.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/calvin-klein-logo.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://static.dezeen.com/uploads/2019/04/ikea-logo-new-sq-1.jpg" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://www.dreamreality.com.tr/wp-content/uploads/2017/07/KOCtas-logo-RGB-beyaz-273x300.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://images.seeklogo.com/logo-png/4/2/emporio-armani-logo-png_seeklogo-47600.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://turbologo.com/articles/wp-content/uploads/2020/07/cartier-logo.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:235; width: 330">
                    <img src="https://assets.turbologo.ru/blog/ru/2021/11/12081137/Chanel_logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>