@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@Localizer["Merhaba"] bugün @Localizer["Hava"] çok sıcak siz nasıl burada oturuyorsunuz. Çünkü bu sıcak havada sadece denize girilir.Sıcak hava bugün iyice arttı</h1>

